
//Colors
$color-background:#E5E5E5;
$color-gray:#9D9D9D;
$color-light-gray: #E7E7E7;
$color-white: #FFFFFF;
$color-input-bakcground: #FDFDFD;
$color-blue: #4F73D0;
$color-black: #000000;
$color-dark-blue:#224DBA;

//Typography
$font-sizes: (10: 10px, 12: 12px, 14: 14px, 18: 18px, 22: 18px);


//Margin
$base-size: 14px;
